<!DOCTYPE html>
<html lang="en">
<head>
  <title>YoCoolSpotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>Welcome To YoCoolSpotify!!</h2>
    <p>Search a song, ding a Dong</p>
    <form method="POST" action="/addsong">
      <div class="form-group">
        <div class="row">
         <div class="col-md-8"> <label for="song">Search a song with album name</label>
          <input type="text" class="form-control" id="song" name="song"></div>
          <div class="col-md-4">
            <div class="radio">
              <label><input type="radio" name="source" value="spotify">Spotify</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="source" value="youtube" checked>YouTube</label>
            </div>

          </div>
        </div>
        
        <input type="submit" class="btn btn-info">
      </div>
    </form>
    

    <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      La La La .......
    </div>            
    <p>Songs Currently in the Playlist</p>
    <div class="row">
      <div class="col-md-6">
        <p><h3> S P O T I F Y</p></h3> 
        <iframe src="https://open.spotify.com/embed?uri=spotify:user:12120746446:playlist:6ZK4Tz0ZsZuJBYyDZqlbGt&theme=white" width="500" height="880" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-6">
        <h3><p> Y O U T U B E </p></h3>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Song</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td><img src="{{ song.img_url }}"/></td>
      <td>{{ song.name }}</td>
      <td>{{ song.artist }}</td>
      <td>{{ song.album }}</td>
      <td>{{ song.duration }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>
</html>